{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="container">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <img src="../static/images/Durant.jpg" width="300"; height="200"/>"
                </td>
                <td>
                    <img src="../static/images/Harden.jpg" width="300"; height="200"/>
                </td>
                <td>
                    <img src="../static/images/Jordan.jpg" width="300"; height="200"/>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../static/images/Kobe.jpeg" width="300"; height="200"/>
                </td>
                <td>
                    <img src="../static/images/Lebron.jpg" width="300"; height="200"/>
                </td>
                <td>
                    <img src="../static/images/Wilt.jpg" width="300"; height="200"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
